/*import fonts*/

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: #5D59AF;
    --white: #FFF;
    --gray: #F5F5F5;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

/*
.container {
    position: relative;
    width: 100%;
}*/

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: var(--main);
    border-left: 10px solid var(--main);
    transition: 0.5s;
    overflow: hidden; 
}

.logo {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.logo-name {
    font-size: 22px;
    color: var(--white);
}

.navigation ul { /*nav-link*/
    padding-top: 30px 0 150px 0;
    width: 100%;
    overflow: auto;
}

.navigation ul::-webkit-scrollbar {
    display: none;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.3s ease;
}

.navigation ul li:hover {
    background-color: var(--white);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation ul li a {
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li a:hover {
    color: var(--main);
}

.icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.menu ion-icon {
    height: 50px;
    min-width: 70px;
    line-height: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

ion-icon li.showMenu .arrow {
    transform: rotate(-180deg);
}

/*
li.showMenu ion-icon {
    transform: rotate(-180deg);
}*/

.label {
    height: 50px;
    line-height: 60px;
    text-align: start;
}

/* curve
li:hover a::before {
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}

li:hover a::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}
*/

.navigation .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: var(--main);
    display: none;
}

.navigation li.showMenu .sub-menu {
    display: block;
}

.sub-menu a {
    padding: 15px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sub-menu a:hover {
    opacity: 1;
}


.navigation.close ul li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.navigation.close ul li:hover .sub-menu {
    top:0;
    opacity: 1;
    pointer-events: auto;
}

.navigation ul li .sub-menu .sub-menu-title {
    display: none;
}

.navigation.close ul li .sub-menu .sub-menu-title {
    display: none;
}

.navigation.close ul li .sub-menu .sub-menu-title {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.navigation ul li .sub-menu .blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
}

.navigation ul li:hover .sub-menu .blank {
    top: 50%;
    transform: translateY(-50%);
}

.menu-toggle {
    position: relative;
    background-color: white /* to be changed*/;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.navigation.close ~ .menu-toggle {
    left: 18px;
    width: calc(100% - 78px);
}

.menu-toggle .toggle-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.menu-toggle .toggle-content .box,
.menu-toggle .toggle-content .text {
    color: var(--main);
    font-size: 35px;
}
.menu-toggle .toggle-content .box {
    margin: 0 15px;
    cursor: pointer;
}

.menu-toggle .toggle-content .text {
    font-size: 26px;
}