/*import fonts START OF NAVIGATION DESIGN*/

* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: #5D59AF;
    --white: #FFF;
    --bg: #FEFBFF;
    --hover: #6762b6;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: var(--main);
    z-index: 100;
}

.navigation .logo {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navigation .logo i{
    font-size: 30px;
    color: var(--white);
    height: 60px;
    min-width: 78px;
    text-align: center;
    line-height: 60px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.navigation .logo .logo-name {
    font-size: 22px;
    color: var(--white);
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}

.navigation.close .logo .logo-name {
    transition-delay: 0;
    opacity: 0;
    pointer-events: none;
}

.navigation .nav-links {
    padding: 30px 0 150px 0;
    height: 100%;
    overflow: auto;
}

.navigation .nav-links {
    overflow: visible;
}

.navigation .nav-links::-webkit-scrollbar {
    display: none;
}

.navigation .nav-links li {
    position: relative;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    transition: all 0.4s ease;
}

.navigation .nav-links li:hover {
    background-color: var(--white);
}

.navigation .nav-links li:hover .label,
.navigation .nav-links li:hover i {
    color: var(--main);
}

.navigation .nav-links li .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: var(--white);
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navigation .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.navigation.close .nav-links i.arrow {
    display: none;
}

.navigation .nav-links li a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navigation .nav-links li a .label,
.navigation .nav-links li .label {
    font-size: 15px;
    font-weight: 400;
    color: var(--white);
}

.navigation.close .nav-links li a .label,
.navigation.close .nav-links li .label {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.navigation .nav-links li .sub-menu {
    padding: 6px 0 14px 80px;
    margin-top: -10px;
    background-color: #aaa7ee;
    display: none;
    margin-top: 3px;
}

.sub-menu li {
    padding-left: 20px;
    margin-top: 5px;
}

.navigation .nav-links li.showMenu .sub-menu {
    display: block;
}

.navigation .nav-links li .sub-menu a {
    color: var(--black1);
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.navigation .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.navigation.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.navigation.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.navigation .nav-links li .sub-menu .sub-menu-title {
    display: none;
}

.navigation.close .nav-links li .sub-menu .sub-menu-title {
    display: none;
}

.navigation.close .nav-links li .sub-menu .sub-menu-title {
    font-size: 15px;
    opacity: 1;
    display: block;
}

.navigation .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.navigation .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}


.menu-toggle {
    position: relative;
    background-color: var(--bg) /* to be changed*/;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}

.menu-toggle.close {
    left: 80px;
}

.navigation.close {
    width: 72px;
}

/* not working
.navigation.close ~ .menu-toggle {
    left: 78px;
    width: calc(100% - 78px);
}*/

.menu-toggle .toggle-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.menu-toggle .toggle-content .bx-menu,
.menu-toggle .toggle-content .text {
    color: var(--main);
    font-size: 35px;
}

.menu-toggle .toggle-content .bx-menu {
    margin: 0 15px;
    cursor: pointer;
}

.menu-toggle .toggle-content .text {
    font-size: 26px;
    font-weight: 600;
}

/* END OF NAVIGATION DESIGN - CARCILLAR */

/* DATA TABLE */
.table-wrapper {
    min-width: 10%;
    background: #fff;
    padding: 20px 20px 40px 20px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.2);
    margin: 50px 20px;
}

.row {
    padding: 5px;
}

.search-box {
    margin-left: 75%;
    margin-bottom: 10px;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    top: 33.5%;
    font-size: 19px;
    margin-left: 13px;
}

.search-box input {
    height: 28px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

table {
    width: 100%;

}

.table tr th, td {
    border: 1px solid beige;
    padding: 8px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

th, td {
    text-align: left;
    font-size: 14px;
}

th {
    color: var(--main);
}

.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 13px;
    margin-left: 5px;
    margin-top: 10px;
    color: var(--main);
}

.pagination {
    float: right;
    margin: 0 0 5px;
    margin-right: 0;
    margin-top: 10px;
}

.pagination li {
    display: inline-block;
}

.pagination li a {
    background-color: var(--main);
    font-size: 13px;
    color: #999;
    margin: 0 2px;
    border-radius: 50% !important;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    padding: 2px 7px;
}

.pagination li a:hover {
    color: #666;
    background-color: var(--white);
}
/* END OF TABLE - CARCILLAR */

/* VIEW OWNER DETAILS */
.popup {
    display: none;
    width: 33.333333%;
    padding: 15px;
    left: 0;
    margin-left: 33.333333%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
    position: absolute;
    top: 15%;
    box-shadow: 5px 5px 5px #000;
    z-index: 10001;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.10);
    z-index: 10000;
}

.btn-primary {
    float: right;
    background-color:var(--main);
    border: none;
    color: var(--white);
}

.btn-primary:hover {
    background-color: var(--hover);
}

.cancel {
    border: 1px solid var(--main);
    margin-right: 10px;
}

.form-btn {
    width: 70px;
    padding: 10px 0px;
    cursor: pointer;
    border-radius: 50px;
}

.owner-details {
    margin-top: 30px;
    margin-bottom: 30px;
}

.owner-details p {
    padding-top: 15px;
}



