* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3, a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: relative;
    top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.login-navigation {
    margin-top: 8px;
    cursor: pointer;
}

.login-button {
    margin: 13px;
    color: #402950;
}
.register-button {
    border: 1px solid;
    background-color: #5D59AF;
    color: white;
    padding: 10px 15px 10px 15px;
}

.login-button:hover {
    color: #75528d;
}

.register-button:hover {
    background-color: #6762b6;
}

ul.dropdown {
    width: 100%;
    background-color:  #aaa7ee;
    position: absolute;
    z-index: 999;
    display: none;
    list-style: none;
    width: 93px;
    margin-left: 5.8%;
    margin-top: 9px;
    padding: 10px;
    justify-content: space-between;
}

li a:hover {
    color: white;
    cursor: pointer;
}

.error {
	color: #C62828;
	background: rgba(255, 0, 0 ,0.1);
	padding: 10px;
    margin-bottom: 10px;
	width: 89%;
	border-radius: 5px;

    text-align: center;
}

.container {
    display: flex;
    position: static;
    justify-content: space-between;
    width: 80%;
    padding: 30px;
    margin-left: 100px;
    margin-top: 25px;
}

.container .title {
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 10px;
    text-align: center;
}

.container .content{
    width: 100%;
}

.container .content .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.container .content .input_field label{
    width: 200px;
    margin-right: 0px;
    font-size: 20px;
}

.container .content .input_field .input{
    height: 40px;
    width: 280px;
    outline: none;
    border: 1px solid #d5d5d5;
    font-size: 15px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.container .content .btn{
    width: 86.8%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #5D59AF;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}   
.container .content .input_field .input:focus,
.container .content .input_field .input:valid{
  border-color: #9b59b6;
}

.button {
    height: 45px;
    margin: 35px 0
}
.content .button input{
    height: 100%;
    width: 50%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #75528d;
}
.content .button input:hover{
   /* transform: scale(0.99); */
   background: #75528d;;
}
.container .content .input_field .p{
    font-size: 12px;
    color: #757575;
}
.container .content .input_field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
} 

.image {
    background-image: url(1.png);
    height: 27rem;
    margin-left: 140px;
    width: 40rem;
    background-size: cover;
    float: right;
    margin-top: 30px;
}

.form-control {
    position: relative;
}

.form-control.success input {
    border-color: #2ECC71;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 38%;
    top: 100%;
}


